/* @import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* I like this font DM-Sans */


@import "tailwindcss";

body {
    font-family: "DM Sans", system-ui, sans-serif;

}

@custom-variant dark (&:where(.dark, .dark *))
